@import "tailwindcss";

@theme inline {
  /* Primary Colors (주조색) */
  --color-primary-point: #ff7e36;
  --color-primary-base: #ff9f6b;
  --color-primary-text: #2c2520;

  /* Secondary Colors (보조색) */
  --color-secondary-stability: #8cb296;
  --color-secondary-review: #ffe082;
  --color-secondary-subtext: #9e9892;

  /* Interaction States */
  --color-state-hover: #e5662a;
  --color-state-active: #cc5a25;
  --color-shadow: #ff7e3633;

  /* Gray Scale */
  --color-gray-900: #2c2520;
  --color-gray-600: #5d5550;
  --color-gray-400: #9e9892;
  --color-gray-200: #d4d0cc;
  --color-gray-100: #efede9;

  /* Background */
  --color-bg-oatmeal: #f9f5f0;
  --color-bg-white: #ffffff;
  --color-bg-ai: #e6e6fa;

  /* Focus */
  --color-focus-ring: #3b82f6;

  /* Status */
  --color-status-success: #8cb296;
  --color-status-review: #ffe082;
  --color-status-error: #ff6c6c;

  /* Typography - Font Family */

  /*TODO : CDN에서 next/font로 변경 필요*/
  --font-pretendard: "Pretendard Variable", "Pretendard", sans-serif;
  --font-suit: "SUIT Variable", "SUIT", sans-serif;

  /* Typography - Font Size */
  --text-h1: 26px;
  --text-h2: 20px;
  --text-h3: 18px;
  --text-body1: 16px;
  --text-body2: 14px;
  --text-caption: 12px;

  /* Typography - Line Height */
  --leading-h1: 1.4;
  --leading-h2: 1.4;
  --leading-h3: 1.5;
  --leading-body1: 1.6;
  --leading-body2: 1.5;
  --leading-caption: 1.4;

  /* Typography - Letter Spacing */
  --tracking-h1: -0.195px;
  --tracking-h2: -0.15px;
  --tracking-h3: -0.135px;
  --tracking-body1: -0.12px;
  --tracking-body2: -0.105px;
  --tracking-caption: -0.09px;

  /* Typography - Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /*layout */
  --container-layout: 375px;
  --layout-padding-x: 16px;
  --tabmenu-height: 60px;

  /* z-index */
  --z-floating: 50;
  --z-tabmenu: 40;
  --z-header: 30;
}

@utility typo-display1 {
  font-family: var(--font-suit);
  font-size: var(--text-h1);
  line-height: var(--leading-h1);
  letter-spacing: var(--tracking-h1);
  font-weight: var(--font-weight-extrabold);
}

@utility typo-h1-title {
  font-family: var(--font-suit);
  font-size: var(--text-h2);
  line-height: var(--leading-h2);
  letter-spacing: var(--tracking-h2);
  font-weight: var(--font-weight-bold);
}

@utility typo-h2-sub {
  font-family: var(--font-suit);
  font-size: var(--text-h3);
  line-height: var(--leading-h3);
  letter-spacing: var(--tracking-h3);
  font-weight: var(--font-weight-semibold);
}

@utility typo-body1 {
  font-family: var(--font-pretendard);
  font-size: var(--text-body1);
  line-height: var(--leading-body1);
  letter-spacing: var(--tracking-body1);
  font-weight: var(--font-weight-medium);
}

@utility typo-body2 {
  font-family: var(--font-pretendard);
  font-size: var(--text-body2);
  line-height: var(--leading-body2);
  letter-spacing: var(--tracking-body2);
  font-weight: var(--font-weight-regular);
}

@utility typo-caption {
  font-size: var(--text-caption);
  line-height: var(--leading-caption);
  letter-spacing: var(--tracking-caption);
  font-weight: var(--font-weight-regular);
}

@utility typo-button {
  font-family: var(--font-pretendard);
  font-size: var(--text-body1);
  line-height: var(--leading-body1);
  letter-spacing: var(--tracking-body1);
  font-weight: var(--font-weight-semibold);
}

@utility typo-button-sm {
  font-family: var(--font-suit);
  font-size: var(--text-body2);
  line-height: var(--leading-caption);
  letter-spacing: var(--tracking-body2);
  font-weight: var(--font-weight-semibold);
}

/* 텍스트 선택 막기 */
@utility user-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}

/* 스크롤바 숨기기 */
@utility scrollbar-hide {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  background: var(--color-bg-oatmeal);
}

body {
  color: var(--color-primary-text);
  font-family: var(--font-pretendard);
  padding: 0 var(--layout-padding-x);
  margin: 0 auto;

  @media (min-width: 430px) {
    max-width: var(--container-layout);
  }
}

button {
  cursor: pointer;
  outline: none;
  &:focus-visible {
    outline: 2px solid var(--color-focus-ring);
    outline-offset: 2px;
  }
}

input {
  outline: none;
}
